body{
    background-color: #f1f1f1;
}

/*************
Sidebar Scroll
*************/
.sidebar-scroll::-webkit-scrollbar {
    width: 6px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0;
}
